body {
    background: #0a0807;
    height: 100vh;
    color: white;
}
.brand {
    font-size: 40px;
    padding: 10px;
    width: 50%;
    float: left;
    text-decoration: underline;
}
.menu {
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu a:hover {
    color: #353231;
    animation: ease 10 10 10 10;
}

.article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    
}
span {
    font-size: 50px;
}
p{
    color: #b4aaa6;
    font-size: 20px;
}
.container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-wrap: wrap;
}
.html a, .css a, .js a, .sql a, .php a {
    width: 150px;
    height: 150px;
    background: #b4aaa6;
    border-radius: 5px;
    margin: 10px;
    display: grid;
    place-items: center;
    font-size: 30px;
    color: #353231;
    text-decoration: none;
}

.html a:hover, .css a:hover, .js a:hover, .sql a:hover, .php a:hover {
    color: rgb(118, 194, 135);
    background: #353231;
    transition: color 3.5s ease;
}