body {
    background: #0a0807;
    color: white;
    height: 100vh;
}
.brand {
    font-size: 40px;
    padding: 10px;
    width: 50%;
    float: left;
    text-decoration: underline;
}
.menu {
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu a:hover {
    color: #353231;
    animation: ease 10 10 10 10;
}
.container_first {
    width: 60%;
    float: left;
    height: 100vh;
}

.container_first img {
    width: 80%;
    height: 100%;
}

.container_sec {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 90%;
    justify-content: center;
    width: 40%;
}

.text_st {
    font-size: 70px;
}
.text_sec {
    color: #b4aaa6;
}
.container_input input, button {
    height: 30px;
    border-radius: 30px;
    width: 50%;
    background: #b4aaa6;
}

.container_input button:hover {
    color: #353231;
    background: #6d6562;
}

.container_text_th span a {
    text-decoration: none;
    color: #b4aaa6;
    padding: 10px;
}

.container_text_th span a:hover {
    color: #353231;
}
